<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User_Dashboard</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <div class="nav-title">MedEasy</div>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>
        <div class="sidebar">
          <a href="#">
            <span class="material-icons-sharp"> grid_view </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#" class="active">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Patients</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> receipt_long </span>
            <h3>Appointments</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> insights </span>
            <h3>Reports</h3>
          </a>

          <a href="#" onclick="openCModal()">
            <span class="material-icons-sharp"> add </span>
            <h3>Add Reports</h3>
          </a>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <p>Select your Report File:</p>
              <input type="file" name="image" id="image" />
              <h2><%= doctors[0]._id %></h2>
              <button id="Submit" onclick="uploadFiles(event)">Submit</button>
            </div>
          </div>
          <a href="#">
            <span class="material-icons-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <!--------------------- End OF ASIDE------------------------------->
      <main>
        <h1>User Dashboard</h1>
        <div class="insights">
          <div class="sales">
    
              <img
                src="https://www.indiancrestpeds.com/wp-content/uploads/2016/07/6-Ways-a-Westminster-Pediatrician-Can-Help-.jpg.webp"
                alt=""
                srcset=""
            />
            <div class="middle">
              <div class="left">
                <a href="/doctor/type/Pediatrician">
                <h1>Pediatrician</h1>
              </a>
              </div>
              
            </div>
           
          </div>
          <div class="expenses">
            <img
            src="https://drsanjaykumar.co.in/wp-content/uploads/2023/04/How-to-Find-the-Best-Cardiologist-in-Delhi-for-Your-Specific-Heart-Condition-Dr-Sanjay-Kumar-2048x1152.jpg"
            alt=""
            srcset=""
        />
            <div class="middle">
              <div class="left">
                <a href="/doctor/type/Cardiologist">
                <h1>Cardiologist</h1>
                </a>
              </div>
            </div>
          </div>
          <!------------------------------------End of expenses-->
          <div class="income">
            <img
                src="https://blogassets.leverageedu.com/media/uploads/2020/02/07180457/ent-doctor.jpg"
                alt=""
                srcset=""
            />
            <div class="middle">
              <div class="left">
                <a href="/doctor/type/ENT">
                <h1>ENT Specialist</h1>
              </a>
              </div>
            </div>
          </div>
          <div class="sales">
            <img
            src="https://medlife.co.in/image/cosmetic-dentist-ahmedabad.jpg"
            alt=""
            srcset=""
        />
            <div class="middle">
              <div class="left">
                <a href="/doctor/type/Dentist">
                <h1>Dentist</h1>
                </a>
              </div>
            </div>
          </div>
          <div class="expenses">
            <img
            src="https://wp02-media.cdn.ihealthspot.com/wp-content/uploads/sites/110/2018/04/dermatologyappointment.jpg"
            alt=""
            srcset=""
        />
            <div class="middle">
              <div class="left">
                <a href="/doctor/type/Dermatologist">
                <h1>Dermatologist</h1>
                </a>
              </div>
            </div>
          </div>
          <div class="income">
            <img
            src="https://uploads.sarvgyan.com/2016/04/career-as-Gynecologist.jpg"
            alt=""
            srcset=""
        />
            <div class="middle">
              <div class="left">
                <a href="/doctor/type/Gynecologist">
                <h1>Gynecologist</h1>
                </a>
              </div>
            </div>
          </div>
          <!-------------------------End of INCOMES--->
        </div>
        <!--------------------------End of Insights-->
        <div class="recent-orders">
          <h2>Recent</h2>
          <table>
           
            <thead>
              <tr>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone no</th>
                <th>address</th>
                <th>Book</th>
              </tr>
            </thead>
            <tbody>

              <% for (var i =0; i <doctors.length;  i++ ) { %>
                <tr>
                <td><%=doctors[i]._id%></td>
                <td><%=doctors[i].username%></td>
                <td><%=doctors[i].email%></td>
                <td><%=doctors[i].phn%></td>
                <td><%=doctors[i].add%></td>
                <td><div>
                  <a href="/appointment/doctor/<%=doctors[i]._id%>">
                    <h3>Appointment</h3>
                  </a>
                </div></td>
                <td></td>
                </tr>
                <% } %>
            </tbody>
          </table>
          <a href="#">Show All</a>
        </div>
      </main>
      <!--------End of Main-->
      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span id="men" class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>
          <div class="profile">
            <div class="info">
              <p>Hey,<b>username </b></p>
              <small class="text-muted"> Admin </small>
            </div>
            <div class="profile-photo">
              <!-- <img src="./images/profile1.jpeg" alt="" srcset="" /> -->
            </div>
          </div>
        </div>
        <!-----------End of Top--------------------->
        <!-- <div class="recent-updates">
          <h2>Recent Updates</h2>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="./images/download.jpg" alt="" srcset="" />
              </div>
              <div class="message">
                <p>
                  <b>Bilal</b> recived his order of Night lion tech GPS drone.
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
            <div class="update">
              <div class="profile-photo">
                <img src="./images/Screenshot (425).png" alt="" srcset="" />
              </div>
              <div class="message">
                <p>
                  <b>Bilal</b> recived his order of Night lion tech GPS drone.
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
            <div class="update">
              <div class="profile-photo">
                <img src="./images/jk.jpg" alt="" srcset="" />
              </div>
              <div class="message">
                <p>
                  <b>Bilal</b> recived his order of Night lion tech GPS drone.
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
          </div>
        </div> -->
        <!---------------END OF RECENT UPDATES-->
        <div class="sales-analytics">
          <div>          
            <h2>Approved Appointments</h2>
          <table>
           
            <thead>
              <tr>
                <th>Doctor</th>
                <th>Date</th>
                <th>Time</th>
                <th>Fee</th>
                <th>Payment</th>
              </tr>
            </thead>
            <tbody>
<% if(appo.length>0) { %>
          <% for (var i =0; i<appo.length;  i++ ) { %>
            
           </tr>
            <td><%=docdetail[i][0].username%></td>
            <td><%=appo[i].date%></td>
            <td><%=appo[i].appointment_time%></td>
            <td>Rs<%=appo[i].duePay%></td>

          <td><button data-myid="<%= docdetail[i][0]._id %>" id="rzp-button"style="background-color:red; color: white;" value="<%=appo[i].duePay%>">Pay </button></td>
            </tr>
              <% } %>
              <% } %>
            </tbody>
         </table>
        
          </div>
        
        
          <!-- <div class="item customers">
            <div class="icon">
              <span class="material-icons-sharp"> person </span>
            </div>
            <div class="right">
              <div class="info">
                <h3>New Customers</h3>
              </div>
              <h5 class="success">+25%</h5>
              <h3>849</h3>
            </div>
          </div> -->

          <!-- <div class="item add-product">
            <div onclick="openCModal()">
              <span class="material-icons-sharp">add</span>
              <h3>Verify Patient</h3>
            </div>
          </div> -->
          <!-- <div class="item add-product">
            <div>
              <span class="material-icons-sharp">add</span>
              <a href="/verify/user">
                <h3>Verify Patient</h3>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Modal popup -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Edit coupon</h2>
        <div class="form">
          <div>
            <label>No. of coupons</label>
            <input type="number" />
          </div>
          <div>
            <label for="limit">Redemption limit</label>
            <input type="number" name="limit" />
          </div>
          <div>
            <label for="format">Format</label>
            <select class="formselect" name="format">
              <option value="alphabetic">Alphabetic</option>
              <option value="numeric">Numeric</option>
              <option value="alphanumeric">Alpha Numeric</option>
            </select>
          </div>

          <div><label>Custom Prefix</label> <input type="text" /></div>

          <div>
            <label>Applicable to</label>
            <select class="formselect">
              <option value="sku">SKU</option>
              <option value="cart">Cart</option>
            </select>
          </div>

          <div>
            <label>Discount type</label>
            <select for="type">
              <option value="price">Price</option>
              <option value="percent">Percentage</option>
            </select>
          </div>

          <div>
            <label>Discount number</label>
            <input type="number" />
          </div>

          <div>
            <label>Max discount amount</label>
            <input type="number" />
          </div>

          <div>
            <label>Length of code</label>
            <input type="number" />
          </div>

          <div>
            <label>Expiry</label>
            <input type="date" />
          </div>

          <div>
            <label>Conditions</label>
            <input type="radio" name="select" />
            <label for="minbill">Minimum Billing</label>
            <input type="radio" name="select" />
            <label for="minbill">Minimum Quantity</label>
          </div>

          <div>
            <label>Value for condition</label>
            <input type="number" />
          </div>
        </div>
        <div class="buttonbar">
          <button class="conf" onclick="closeModal()">Confirm</button>
          <button class="cancel" onclick="closeModal()">Cancel</button>
        </div>
      </div>
    </div>

    <!-- The Add coupon model starts here -->

    <div id="addCouponModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeCModal()">&times;</span>
        <h2>Add coupon</h2>
        <form
          class="form"
          method="post"
          onsubmit="return validateDatas()"
          action="/generate-coupons"
        >
          <div>
            <label>No. of coupons</label>
            <input type="number" name="numCodes" id="numCodes" />
          </div>
          <div>
            <label>Redemption limit</label>
            <input type="number" name="redemptionLimit" id="redemptionLimit" />
          </div>
          <div>
            <label for="format">Format</label>
            <select class="formselect" name="format" id="format">
              <option value="alphabetic">Alphabetic</option>
              <option value="numeric">Numeric</option>
              <option value="alphanumeric">Alpha Numeric</option>
            </select>
          </div>

          <div>
            <label>Custom Prefix</label>
            <input type="text" name="customPrefix" id="customPrefix" />
          </div>

          <div>
            <label>Applicable to</label>
            <input type="text" name="applicableTo" id="applicableTo" />
          </div>

          <div>
            <label>Discount type</label>
            <select for="type" name="discountType" id="discountType">
              <option value="amount">Price</option>
              <option value="percentage">Percentage</option>
            </select>
          </div>

          <div>
            <label>Discount number</label>
            <input type="number" name="discount_number" id="discount_number" />
          </div>

          <div>
            <label>Max discount amount</label>
            <input
              type="number"
              name="maxDiscountAmount"
              id="maxDiscountAmount"
            />
          </div>

          <div>
            <label>Length of code</label>
            <input type="number" name="length" id="length" />
          </div>

          <div>
            <label>Expiry</label>
            <input type="date" name="expiry" id="expiry" />
          </div>

          <!-- <div>
            <label>Conditions</label>
            <input type="radio" name="select" />
            <label for="minbill">Minimum Billing</label>
            <input type="radio" name="select" />
            <label for="minbill">Minimum Quantity</label>
          </div> -->

          <div>
            <label>Value for condition</label>
            <input type="text" id="condition" name="condition" />
          </div>

          <div class="buttonbar">
            <button class="conf" onclick="closeCModal()">Confirm</button>
            <button class="cancel" onclick="closeCModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/javascript/dash.js"></script>
    <script src="/javascript/script_report.js"></script>
    <script src="/javascript/pay.js"></script>

  </body>
</html>
